## Excel Extraction Notebook

This notebook is an attempt to extract values and formulas from Excel spreadsheet.

In [4]:
import pandas as pd

simple_values_df = pd.read_excel("../sample_excel_files/simple_values.xlsx")

# Printing the first info. Somehow, this will only extract the first sheet.
print(f"Excel's dimension: {simple_values_df.shape}")
simple_values_df.head()

Excel's dimension: (3, 2)

          Text  Value
0       iPhone    100
1        Pixel     90
2  Galaxy Note     90

In [6]:
# However, we can retrieve the second sheet if we explicitly notify the sheet.
# Reference: https://datatofish.com/read_excel/

simple_values_second_df = pd.read_excel("../sample_excel_files/simple_values.xlsx", sheet_name="Sheet2")

# As you can see here, the column names become "Unnamed" because the start of the content is in the middle of the sheet.
simple_values_second_df.head()

   Unnamed: 0  Unnamed: 1 Unnamed: 2 Unnamed: 3
0         NaN         NaN        NaN        NaN
1         NaN         NaN        NaN        NaN
2         NaN         NaN   Exercise       Reps
3         NaN         NaN   Pull-ups          8
4         NaN         NaN       Dips         15